<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css" />

<h3>Frontend</h3>
<p>Das Frontend ist in React geschrieben und bietet zusammengefasst folgende Funktionalität:</p>

<li>Hinzufügen neuer Benutzer und Admins und speichern von weiteren Informationen wie Adresse, vollständiger Name, Telefonnummer usw., falls gewünscht.</li>
<li>Hinzufügen eines Fingerabdruckes für einen vorhandenen Benutzer.</li>
<li>Zugang für bestimmte Türen gewären.</li>
<li>Hinzufügen neuer Türen und laden der Konfigurationsdateien für ihren Controller.</li>
<li>Logs der Systemnutzung anzeigen</li>
