<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css" />

<p style="margin-bottom: 7%">
    Jeder Mikrocontroller verwaltet eine einzelne Tür und hat auch ein eigenes Backend,
    Frontend und darauf laufende Datenbank. Der Vorteil dieses dezentralen Systems besteht darin,
    dass selbst wenn eine Tür aus irgendeinem Grund von den anderen Türen getrennt ist,
    es funktioniert immer noch von selbst (auch wenn Änderungen dafür natürlich nicht mehr wirksam sind),
    und es gibt auch keinen zentralen Server, wenn das Sterben das ganze System funktionsunfähig machen würde.
</p>
