<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css" />

<p>Each microcontroller is managing one single door and also has its own backend,
frontend and database running on it. The advantage of this decentralized system is, 
that even if one door is seperated from the other doors for some reason, 
it will still work on its own (even though changes are not effective for it anymore, of course), 
and also there is no central server if dying would make the whole system inoperable.</p>
