<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css" />

<style>
    #headerproject{
        background-image: url("../pexels.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: 50% 50%;
        width: 100%;
        height: 20%;
        margin-top: 7%;
        margin-bottom: 5%;
    }
</style>

<div id="headerproject" style="text-align: center;">
    <h3 style="text-align: center; padding-top: 3%; font-size: 50px; color: black; background-position: top">Unser Projekt</h3>
</div>

<p style="margin-bottom: 7%">
    Minutiae ist eine Open Source, MIT Lizenzierte Software für ein Fingerabdrucksystem und ein Kooperationsprojekt mit dem OTELO Gmunden.
    Während Minutiae das Frontend, das Backend und die Datenbank bereitstellt, übernimmt das Co-Projekt die Hardware
    und den hardwarenahen Code. Die Projektidee ist ein System, in dem Benutzer und Administratoren existieren.
    Benutzer können Fingerabdrucksensoren verwenden und Türen entsprechend ihrer Berechtigungen ent- / verriegeln.
    Für Administratoren gibt es eine Weboberfläche, über die sie verschiedene Systemeinstellungen vornehmen können.
    Dies zB. beinhaltet das Hinzufügen neuer Benutzer und Türen.
</p>

